.btn {
    cursor: pointer;    
    font-size: 2rem;
    padding: 2px;
    transition: ease-in-out 300ms;
    border-radius: 8px;
    
    &:hover {
        background-color: #384d46;
        transition: ease-in-out 300ms;
    }
}