body {
  min-width: 400px;
}

p {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px;
  transition: ease-in-out 300ms;
  border-radius: 8px;
}
.btn:hover {
  background-color: #384d46;
  transition: ease-in-out 300ms;
}

.notification {
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
  border: solid 1px darkgrey;
  border-radius: 10px;
}