/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
body {
  min-width: 400px;
}

p {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px;
  transition: ease-in-out 300ms;
  border-radius: 8px;
}
.btn:hover {
  background-color: #384d46;
  transition: ease-in-out 300ms;
}

.notification {
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
  border: solid 1px darkgrey;
  border-radius: 10px;
}

.header__countainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0e0e0;
  padding: 1.2rem;
}
.header__countainer .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__countainer .header__logo img {
  width: 100%;
  height: auto;
}
.header__countainer .header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}
.header__countainer .header__list .btn__task {
  background-color: rgb(211, 215, 172);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.5rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.header__countainer .header__list .btn__new {
  background-color: rgb(105, 128, 0);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.5rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 10px;
  margin: 13px;
  padding: 5px;
}
.main__container .left__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.main__container .left__container .top__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main__container .left__container .top__container .top__container--task_name {
  margin: 10px;
  font-size: 2.2rem;
  align-items: center;
}
.main__container .left__container .bot__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main__container .left__container .bot__container .task__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem;
}
.main__container .left__container .bot__container .task__action .btn__update {
  background-color: rgb(211, 215, 172);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .left__container .bot__container .task__action .btn__delete {
  background-color: rgb(105, 128, 0);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .right__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main__container .right__container .right__container--arrows {
  display: flex;
  flex-direction: column;
}

.youpi {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 10rem;
  margin: 20px;
}

.hidden {
  display: none;
}

.remind_date form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
}

input, textarea {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

button {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

button:hover {
  background-color: #384d46;
  transition: ease-in-out 300ms;
}

.addform__container {
  position: fixed;
  top: -99px;
  width: 90vw;
  margin: 5px;
  padding: 5px;
  z-index: -1;
  background-color: antiquewhite;
  border: solid 1px grey;
  border-radius: 10px;
  transition: ease-in-out 300ms;
}
.addform__container.active {
  top: 0px;
  transition: ease-in-out 300ms;
  z-index: 0;
}
.addform__container form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.labelList__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -99px;
  width: 90vw;
  margin: 5px;
  padding: 5px;
  z-index: -1;
  background-color: antiquewhite;
  border: solid 1px grey;
  border-radius: 10px;
  transition: ease-in-out 300ms;
}
.labelList__container.active {
  top: 0px;
  transition: ease-in-out 300ms;
  z-index: 0;
}
.labelList__container form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.labelList__container form input[type=checkbox].demo {
  display: none;
}
.labelList__container form input[type=checkbox].demo + label {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
}
.labelList__container form input[type=checkbox].demo + label:hover {
  background-color: rgb(163, 241, 241);
}
.labelList__container form input[type=checkbox].demo:checked + label {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(132, 236, 236);
}