.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px black solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.main__container .left__container {
  display: flex;
  flex-direction: column;
}
.main__container .left__container .top__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main__container .left__container .top__container .top__container--task_name {
  margin: 10px;
  font-size: 2.2rem;
  align-items: center;
}
.main__container .left__container .bot__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main__container .left__container .bot__container .task__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem;
}
.main__container .left__container .bot__container .task__action .btn__update {
  background-color: rgb(211, 215, 172);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .left__container .bot__container .task__action .btn__delete {
  background-color: rgb(105, 128, 0);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .right__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main__container .right__container .right__container--arrows {
  display: flex;
  flex-direction: column;
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
}