.main__container {
  display: flex;
  flex-direction: row;
}
.main__container .left__container {
  display: flex;
  flex-direction: column;
}
.main__container .left__container .top__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main__container .left__container .top__container .top__container--task_name {
  background-color: rgb(159, 159, 39);
}
.main__container .left__container .bot__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.main__container .left__container .bot__container .task__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem;
}
.main__container .left__container .bot__container .task__action .btn__update {
  background-color: rgb(211, 215, 172);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .left__container .bot__container .task__action .btn__delete {
  background-color: rgb(105, 128, 0);
  border-radius: 10px;
  border: solid 1px black;
  padding: 0.3rem;
  box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
}
.main__container .right__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(105, 128, 0);
}
.main__container .right__container .right__container--arrows {
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 13, 147);
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
}