.main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px black solid;
    border-radius: 10px;
    margin: 13px;
    padding: 5px;



    .left__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;


        .top__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;


            .top__container--task_name {
                margin: 10px;
                font-size: 2.2rem;
                align-items: center;
            }
        }

        .bot__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .task__action {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                padding: 0.5rem;


                .btn__update {
                    background-color: rgb(211, 215, 172);
                    border-radius: 10px;
                    border: solid 1px black;
                    padding: 0.3rem;
                    box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
                }

                .btn__delete {
                    background-color: rgb(105, 128, 0);
                    border-radius: 10px;
                    border: solid 1px black;
                    padding: 0.3rem;
                    box-shadow: rgb(131, 123, 123) 1px 1px 1px 1px;
                }
            }
        }
    }

    .right__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


        .right__container--arrows {
            display: flex;
            flex-direction: column;

        }
    }
}

.youpi {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 10rem;
    margin: 20px;
}

.hidden {
    display: none;
}


.remind_date form {
        
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}